{# 
  Component: Navbar
  Description: Main navigation bar component with horizontal menu and dropdown
  Props:
    - settings.dgHomeLink: Show/hide home link (default: true)
    - settings.dgEnableSearch: Show/hide search button
    - settings.dgShowFileTree: If true, shows mobile menu toggle (used in filetree mode)
#}
{%if settings.dgHomeLink !== false%}
    <nav class="navbar" x-data="{ mobileMenuOpen: false }">
        <div class="navbar-inner">
            {% if settings.dgShowFileTree === true %}
                <span class="mobile-menu-toggle" @click="showFilesMobile=!showFilesMobile"><i icon-name="menu"></i></span>
            {% endif %}
            {% for imp in dynamics.filetree.beforeTitle %}
                {% include imp %}
            {% endfor %}
            {# Home Button #}
            <a href="/" class="navbar-home-btn" title="Về trang chủ">
                <i icon-name="home"></i>
            </a>
            <a href="/" class="navbar-logo">
                <h1>{{meta.siteName}}</h1>
            </a>
            {% for imp in dynamics.filetree.afterTitle %}
                {% include imp %}
            {% endfor %}
            
            {# Mobile Menu Toggle Button #}
            <button class="navbar-mobile-toggle" 
                    @click="mobileMenuOpen = !mobileMenuOpen"
                    aria-label="Toggle menu">
                <i icon-name="menu" x-show="!mobileMenuOpen"></i>
                <i icon-name="x" x-show="mobileMenuOpen"></i>
            </button>
            
            {# Horizontal Menu với Dropdown #}
            {% if filetree %}
            <ul class="navbar-menu" 
                :class="{ 'navbar-menu-open': mobileMenuOpen }"
                @click.away="mobileMenuOpen = false">
                {%- for folderName, folder in filetree -%}
                    {% if folder.isFolder %}
                        <li class="navbar-menu-item" 
                            x-data="{isOpen: false, timeout: null}"
                            @mouseenter="clearTimeout(timeout); isOpen = true"
                            @mouseleave="timeout = setTimeout(() => { isOpen = false }, 200)">
                            {%- set firstNote = null -%}
                            {%- for itemName, item in folder -%}
                                {%- if item.isNote and not item.hide and not firstNote -%}
                                    {%- set firstNote = item -%}
                                {%- endif -%}
                            {%- endfor -%}
                            <a href="{% if firstNote %}{{ firstNote.permalink }}{% else %}#{% endif %}" 
                               class="navbar-menu-link"
                               @click="if (event.target.closest('.dropdown-icon')) { event.preventDefault(); event.stopPropagation(); isOpen = !isOpen; } else if (!event.target.closest('.navbar-dropdown')) { window.location.href = this.href; }">
                                {{ folderName }}
                                <i icon-name="chevron-down" class="dropdown-icon" @click.stop.prevent="isOpen = !isOpen"></i>
                            </a>
                            {% set hasItems = false %}
                            {%- for itemName, item in folder -%}
                                {% if (item.isNote and not item.hide) or item.isFolder %}
                                    {% set hasItems = true %}
                                {% endif %}
                            {%- endfor -%}
                            {% if hasItems %}
                                <ul class="navbar-dropdown" 
                                    x-show="isOpen" 
                                    @mouseenter="clearTimeout($el.closest('.navbar-menu-item').__x.$data.timeout); isOpen = true"
                                    @mouseleave="$el.closest('.navbar-menu-item').__x.$data.timeout = setTimeout(() => { isOpen = false }, 200)"
                                    x-transition:enter="transition ease-out duration-200"
                                    x-transition:enter-start="opacity-0 transform -translate-y-1"
                                    x-transition:enter-end="opacity-100 transform translate-y-0"
                                    x-transition:leave="transition ease-in duration-150"
                                    x-transition:leave-start="opacity-100 transform translate-y-0"
                                    x-transition:leave-end="opacity-0 transform -translate-y-1">
                                    {%- for itemName, item in folder -%}
                                        {% if item.isNote and not item.hide %}
                                            <li>
                                                <a href="{{ item.permalink }}" 
                                                   class="navbar-dropdown-item">
                                                    {{ item.name }}
                                                </a>
                                            </li>
                                        {% elif item.isFolder %}
                                            <li class="navbar-dropdown-submenu">
                                                <span class="navbar-dropdown-submenu-title">{{ itemName }}</span>
                                                <ul>
                                                    {%- for subItemName, subItem in item -%}
                                                        {% if subItem.isNote and not subItem.hide %}
                                                            <li>
                                                                <a href="{{ subItem.permalink }}" 
                                                                   class="navbar-dropdown-item">
                                                                    {{ subItem.name }}
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    {%- endfor -%}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {%- endfor -%}
                                </ul>
                            {% endif %}
                        </li>
                    {% elif folder.isNote and not folder.hide %}
                        <li class="navbar-menu-item">
                            <a href="{{ folder.permalink }}" 
                               class="navbar-menu-link">
                                {{ folderName }}
                            </a>
                        </li>
                    {% endif %}
                {%- endfor -%}
            </ul>
            {% endif %}
        </div>
        <div class="navbar-actions">
            {# Sidebar Toggle Button #}
            <button class="navbar-toggle-btn sidebar-toggle-navbar" 
                    x-data="{ sidebarOpen: true }"
                    x-init="
                        const sidebarEl = document.querySelector('.sidebar-wrapper');
                        if (sidebarEl && sidebarEl.__x) {
                            $watch(() => sidebarEl.__x.$data.isOpen, value => {
                                sidebarOpen = value;
                            });
                        }
                    "
                    @click="
                        sidebarOpen = !sidebarOpen;
                        const sidebarEl = document.querySelector('.sidebar-wrapper');
                        if (sidebarEl && sidebarEl.__x) {
                            sidebarEl.__x.$data.isOpen = sidebarOpen;
                        }
                    "
                    aria-label="Toggle sidebar"
                    title="Bật/tắt sidebar">
                <i icon-name="panel-right" x-show="!sidebarOpen"></i>
                <i icon-name="panel-right-close" x-show="sidebarOpen" style="opacity: 0.5;"></i>
            </button>
            
            {% if settings.dgEnableSearch === true%}
                {% include "components/searchButton.njk" %}
            {%endif%}
        </div>
    </nav>
    {%else%}
    <div class="empty-navbar" >
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
    </div>
{%endif%}